body {
  background-color: slategray;
}
canvas {
  /* -ms-touch-action: none; */
}

header.page-header {
    background: forestgreen;
	padding: 30px;
	text-align: center;
	font-size: 30px;
}

h1 {
	font-family: ui-monospace;
}